{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="max-width: 600px; width: 100%;">
        <h1 class="text-center mb-4">Password change</h1>
        <p>Please enter your old password, for security's sake, and then enter
            your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
    </div>
</div>
{% endblock content %}