<!-- templates/registration/signup.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="max-width: 600px; width: 100%;">
    <h2 class="text-center mb-4">Sign Up</h2>
    <!-- Sign Up with Google Button -->
    <div class="text-center mb-4">
        <a class="btn btn-outline-danger w-100" href="{% provider_login_url 'google'%}">
            <i class="bi bi-google"></i> Sign Up with Google
        </a>
    </div>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
    </div>
    </div>
{% endblock content %}