<!-- templates/home.html -->

{% extends "base.html" %}
{% load socialaccount %}

{% block title %}Home{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
    Hi {{ user.username }}! You are {{user.age}} years old. <br><br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a> <br>
    <p><a class="text-decoration-none" href="{% provider_login_url 'google' %}">Login with google</a></p>
    {% endif %}

{% endblock content %}